<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hello Angular JS</title>
<script  src="Js/lib/angular.js" type="text/javascript"></script>
<script  src="Js/myJs/angularExample4.js" type="text/javascript"></script>
</head>
<body ng-app="gitApiModule" ng-controller="mainController">
	
	<input type="checkbox" name="autoSlide"  ng-model="autoSlide" ng-change="ChangeAuto()" />
	<label>Auto Slide Show</label>
       
    {{timer}}
       
    <form ng-submit="search(subject)">
        <input type="search" style="width:240px" required placeholder="{{required}}" name="name"  ng-model="subject" />
    	<input type="submit" value="search" />
	</form>
   
   	<br />
   	
   	<select ng-model="pageType">
       <option value="light">Light version</option>
       <option value="normal">Normal View</option>
   </select>

   <div ng-include="subpage" ng-show="answer"></div>
	
	
</body>
</html>